#class1 {
    background: linear-gradient(to right, #e2ff91, #8effc8);
}

#cardSection {
    border-radius: 30px;
}

#buttonSpecial {
    background: linear-gradient(to right, #d4fd64, #42ffa4);
}

#bodyPHP {
    background: linear-gradient(to right, #e6fda6, #a9ffd6);
}

